.view-claim-page {
    padding: 30px;

    &--container {
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        &--table-heading {
            font-size: 25px;
            font-weight: 500;
            border-bottom: 1px solid gray;
            padding-bottom: 5px;
        }

        &--file-details{
            margin-top: 10px;
            font-size: 14px;
            display: flex;
            justify-content: space-between;
        }

        &--claim-number{
            padding: 2px;
            background-color: #000;
            color: #fff;
            border-radius: 5px;
            padding: 10px 15px;

        }

        & table {
            box-shadow: none !important;
            margin-top: 20px;
        }
    }
}